<!--User drop down list-->
<div class="title">
  <h2>Please choose a user</h2>
</div>
<div ngbDropdown class="d-inline-block dropdown">
  <button ngbDropdownToggle
          id="users"
          class="btn btn-outline dropdown">
    {{selectedUser ? selectedUser.name : 'Select a User'}}
  </button>
  <div ngbDropdownMenu aria-labelledby="users" class="dropdown">
    <button ngbDropdownItem
            class="dropdown"
            *ngFor="let user of users"
            (click)="navToUserPost(user.id)">{{user.name}}</button>
  </div>
</div>

<!--show post content-->
<div *ngIf="postSelected" class="title">
  <h2>Post Details</h2>
  <div class="post-content">{{postSelected.body}}</div>

  <!-- Comments Section -->
  <h3>Comments</h3>
  <div class="comments-section">
    <div *ngFor="let comment of postComments" class="comment-item">
      <div class="comment-header">
        <strong class="comment-name">{{comment.name}}</strong>
        <span class="comment-email">({{comment.email}})</span>
      </div>
      <div class="comment-body">{{comment.body}}</div>
    </div>
  </div>
</div>
