.title {
  margin-top: 15px;
}

button {
  display: block;
  margin: 4px auto 0;
}

.dropdown {
  color: #62867b;
  border-color: #52998f;
}

.post-content {
  display: flex;
  margin: 20px auto 32px;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex-direction: column;
}
