<!--toolbar on top-->
<div class="toolbar" role="banner">
  <img class="top-image" src="assets/Capture.PNG" >
  <h1 class="top-title">Discussion Group</h1>
</div>

<!--main content-->
<div class="content" role="main">
  <app-screen
    (postsLoaded)="onPostsLoaded($event)"
    (postSelected$)="onPostSelected($event)"
    [selectedPostFromSidebar]="selectedPost"
  ></app-screen>
</div>

<!--Sidebar on right-->
<app-sidebar
  [posts]="currentPosts"
  [selectedPost]="selectedPost"
  (postClicked)="onSidebarPostClicked($event)"
></app-sidebar>
