<!--User drop down list-->
<div class="title">
  <h2>Please choose a user</h2>
</div>
<div ngbDropdown class="d-inline-block dropdown">
  <button ngbDropdownToggle
          id="users"
          class="btn btn-outline dropdown">Users</button>
  <div ngbDropdownMenu aria-labelledby="users" class="dropdown">
    <button ngbDropdownItem
            class="dropdown"
            *ngFor="let user of users"
            (click)="navToUserPost(user.id)">{{user.name}}</button>
  </div>
</div>

<!--show post content-->
<div *ngIf="postSelected" class="title">
  <h2>Post Details</h2>
  <div class="post-content">{{postSelected.body}}</div>
</div>
