.title {
  margin-top: 15px;
}

button {
  display: block;
  margin: 4px auto 0;
}

.dropdown {
  color: var(--primary-color);
  border-color: var(--border-color);
}

.post-content {
  display: flex;
  margin: 20px auto 32px;
  padding: 20px;
  background-color: var(--background-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  flex-direction: column;
}

.error-message {
  color: red;
  padding: 10px;
  margin: 10px 0;
  border-radius: var(--border-radius);
  background-color: #ffebee;
}

.loading-message {
  padding: 10px;
  margin: 10px 0;
}
